@use "./mixins" as *;
@use "./variables" as *;

.titulo-certificados {
  margin-bottom: 10%;
  color: $color-titles;
}

.certificados {
  text-align: center;
  margin-top: 40px;
  min-height: 100vh;

  .content-certificados {
     //@include page-grid(2, 6, 12);
    //gap: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    white-space: nowrap;
    width: max-content;

    animation: scroll-cards 200s linear infinite;

    .card-c {
      //grid-column: span 4;
      display:flex;
      align-items: center;
      background-color: #201b1b;
      border: 1px solid #d3be0350;
      margin-right: 5px;
      border-radius: 8px;
      //box-shadow:  0 1px 5px rgb(255, 254, 254);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
      padding: 10px;
      
      //animation: scroll-cards 20s linear infinite;

      @include mobile {
        display: block;
        justify-self: center;
        grid-column: span 2;
        max-width: 100%;
      }

      @include tablet {
        grid-column: span 3;
      }

      .icon-info i {
        // icon do certificadfo
        font-size: 60px;
        //margin-top: 5%;
        margin-right: 10px;
      }

      .info h3{
        display: inline-block;
        font-size: 1.2rem;
        margin-bottom: 5px;

        p {
          font-size: 0.8rem;
          color: #e0dfdf;
          margin-bottom: 5px;
          //word-wrap: break-word;
          // overflow: hidden;
          // flex-wrap: nowrap;

          @include mobile {
            font-size: 2px;
          }
        }
      }

      &-link {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        text-decoration: none;
        background-color: #926504;
        color: rgb(255, 255, 176);
        padding: 10px 2px;
        border-radius: 4px;
        font-size: 10px;
        //transition: background-color 0.3s ease;

      }

      &:hover {
        transform: scale(1.007);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .content-certificados::-webkit-scrollbar {
    display: none;
  }

  @keyframes scroll-cards {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .titulo-techs {
    margin-top: 100px;
    font-size: 20px;
    color: #b3b8b3;
  }

  .icons {
    @include page-grid(2, 5, 11);
    @include padding-global;

    grid-column: 1 / -1;
    color: #434643;
    font-size: 50px;
    justify-items: center;

    @include tablet {
      font-size: 50px;
    }

    @include mobile {
      grid-column: span 1;
      font-size: 50px;
    }
  }
}
