@use "./mixins" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background: #333;
  color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  &.active {
    transform: translateX(100%);
  }
  &.desactive {
    transform: translateX(0);
  }

  .menu {
    list-style: none;
    padding: 50px;

    li {
      margin: 15px 0;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
          color: #bbb;
        }
      }
    }
  }
}

.menu-toggle {
  position: fixed;
  top: 50px;
  left: 50px;
  border: 1px solid #00000067;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 26px;
  z-index: 999;
  border-radius: 50%;
  background: #ffffff18;

  @include mobile {
    font-size: 20px;
    top: 20px;
    left: 10px;
    
  }

  &:hover {
    background: #1f1d1d;
    border: none;
    color: rgb(255, 255, 255);
  }

  &--close {
    position: absolute;
    top: 50px;
    right: 50px;
    background: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 26px;
    border-radius: 50%;

    @include mobile {
      font-size: 20px;
      top: 20px;
      right: 10px;
    }

    &:hover {
      background: #cac6c6;
      color: rgb(63, 62, 61);
    }
  }
}
