@use "./mixins" as *;
@use "./variables" as *;

.home {
  @include background-stars;
  @include flex-center;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &-titulo {
    font-size: 44px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    display: inline-block;

    @include tablet {
      font-size: 50px;
      padding: 5px 10px;
      margin: 0;
    }

    @include mobile {
      font-size: 30px;
      margin: 0;
      padding: 5px 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: none;
      border-radius: 10px;
      background: $background-linear-colorido;
      background-size: 400% 400%;
      animation: glowing 6s ease infinite;
      z-index: -1;
    }

    &:hover::before {
      border-color: #fff;
    }

    @keyframes glowing {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    &-subtitulo {
      margin: 0;
      padding: 0;
      color: white;

      @include tablet {
        font-size: 34px;
        padding: 0;
        margin: 0;
      }

      @include mobile {
        font-size: 16px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.content-home {
  @include page-grid(1, 1, 1);
  gap: 0;
  text-align: center;
  position: relative;
  z-index: 3;
}

