@use "./mixins" as *;

.sobre {
  @include padding-global;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background-color: rgb(240, 230, 230);

  .titulo h2 {
    font-size: 34px;
    text-align: center;
  }

  .content-sobre {
    @include page-grid(2, 6, 12);
  

    .photo {
      grid-column: span 6;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 10%;
        width: 80%;
      }

      @include tablet {
        grid-column: span 3;
      }

      @include mobile {
        grid-column: span 2;
      }
    }

    .text {
      grid-column: span 6;
      text-align: justify;
      justify-content: center;
      

      p {
        //font-size: 19px;
        margin: 0;
        color: rgb(29, 29, 28);
        margin-bottom: 20px;
        
       
        @include tablet {
          font-size: 12px;
          
        }
      }

      @include tablet {
        grid-column: span 3;
      }

      @include mobile {
        grid-column: span 2;
        text-align: initial;
      }
    }
  }
}
