.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background: #333;
  color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.sidebar.active {
  transform: translateX(100%);
}
.sidebar.desactive {
  transform: translateX(0);
}
.sidebar .menu {
  list-style: none;
  padding: 50px;
}
.sidebar .menu li {
  margin: 15px 0;
}
.sidebar .menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.sidebar .menu li a:hover {
  color: #bbb;
}

.menu-toggle {
  position: fixed;
  top: 50px;
  left: 50px;
  border: 1px solid rgba(0, 0, 0, 0.4039215686);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 26px;
  z-index: 999;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.0941176471);
}
@media (max-width: 425px) {
  .menu-toggle {
    font-size: 20px;
    top: 20px;
    left: 10px;
  }
}
.menu-toggle:hover {
  background: #1f1d1d;
  border: none;
  color: rgb(255, 255, 255);
}
.menu-toggle--close {
  position: absolute;
  top: 50px;
  right: 50px;
  background: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 26px;
  border-radius: 50%;
}
@media (max-width: 425px) {
  .menu-toggle--close {
    font-size: 20px;
    top: 20px;
    right: 10px;
  }
}
.menu-toggle--close:hover {
  background: #cac6c6;
  color: rgb(63, 62, 61);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.home .star-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  pointer-events: none;
}
.home .star-static {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2s infinite;
}
.home .star-moving {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 2;
  animation: moveRandom 10s linear infinite, twinkle 7s infinite;
}
@keyframes moveRandom {
  0% {
    transform: translateX(200%) translateY(50%);
  }
  100% {
    transform: translateX(200vw) translateY(200vh);
  }
}
@keyframes twinkle {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes moveRandomReverse {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(-200vw) translateY(-200vh);
  }
}
.home .star-moving-reverse {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 2;
  animation: moveRandomReverse 10s linear infinite, twinkle 2s infinite;
}
.home-titulo {
  font-size: 44px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
}
@media (max-width: 770px) {
  .home-titulo {
    font-size: 50px;
    padding: 5px 10px;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .home-titulo {
    font-size: 30px;
    margin: 0;
    padding: 5px 10px;
  }
}
.home-titulo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff7a18, #af002d, #319197, #00b5e2);
  background-size: 400% 400%;
  animation: glowing 6s ease infinite;
  z-index: -1;
}
.home-titulo:hover::before {
  border-color: #fff;
}
@keyframes glowing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home-titulo-subtitulo {
  margin: 0;
  padding: 0;
  color: white;
}
@media (max-width: 770px) {
  .home-titulo-subtitulo {
    font-size: 34px;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .home-titulo-subtitulo {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
}

.content-home {
  display: grid;
  position: relative;
  gap: 20px;
  gap: 0;
  text-align: center;
  position: relative;
  z-index: 3;
}
@media (min-width: 319px) {
  .content-home {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 744px) {
  .content-home {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1024px) {
  .content-home {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sobre {
  padding: 0 40px;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  background-color: rgb(240, 230, 230);
}
.sobre .titulo h2 {
  font-size: 34px;
  text-align: center;
}
.sobre .content-sobre {
  display: grid;
  position: relative;
  gap: 20px;
  align-items: center;
}
@media (min-width: 319px) {
  .sobre .content-sobre {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 744px) {
  .sobre .content-sobre {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1024px) {
  .sobre .content-sobre {
    grid-template-columns: repeat(12, 1fr);
  }
}
.sobre .content-sobre .photo {
  grid-column: span 6;
  align-items: center;
  justify-content: center;
}
.sobre .content-sobre .photo img {
  border-radius: 10%;
  width: 80%;
}
@media (max-width: 770px) {
  .sobre .content-sobre .photo img {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .sobre .content-sobre .photo img {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .sobre .content-sobre .photo {
    grid-column: span 3;
  }
}
@media (max-width: 425px) {
  .sobre .content-sobre .photo {
    grid-column: span 2;
  }
}
.sobre .content-sobre .text {
  grid-column: span 6;
  text-align: justify;
  justify-content: center;
  font-size: 1.3rem;
}
.sobre .content-sobre .text p {
  margin: 0;
  color: rgb(29, 29, 28);
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .sobre .content-sobre .text {
    font-size: 1rem;
  }
}
@media (max-width: 770px) {
  .sobre .content-sobre .text {
    grid-column: span 3;
    font-size: 0.84rem;
  }
}
@media (max-width: 425px) {
  .sobre .content-sobre .text {
    grid-column: span 2;
    text-align: initial;
  }
}

.contato {
  padding: 0 40px;
  min-height: 70vh;
  text-align: center;
  margin-top: 40px;
}
.contato .titulo-contato h2 {
  font-size: 34px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10%;
  color: #a8a7a7;
}
.contato .content-contato {
  display: grid;
  position: relative;
  gap: 20px;
  /*.form {
    grid-column: span 6;
    // background-color: #1a1818;
    border-radius: 8px;
    padding: 5px;

    display: block;

    @include tablet {
      grid-column: span 3;
    }

    @include mobile {
      grid-column: span 2;

    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      text-align: left;
    }

    input,
    textarea {
      width: 90%;
      padding: 10px;
      margin-bottom: 15px;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      font-family: $font-family;

      @include tablet {
        width: 90%;
      }

      &:focus {
        border: 1px solid #333;
        outline: none;
      }
    }

    button {
      padding: 10px 20px;
      background-color: #d5dbd5;
      color: rgb(0, 0, 0);
      font-weight: 600;
      border: none;
      border-radius: 20px;
      font-size: 20px;
      cursor: pointer;
      width: 95%;
    }

    button:hover {
      background-color: #141414;
      border: 1px solid #fff;
      color: white;
    }
  }*/
}
@media (min-width: 319px) {
  .contato .content-contato {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 744px) {
  .contato .content-contato {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1024px) {
  .contato .content-contato {
    grid-template-columns: repeat(12, 1fr);
  }
}
.contato .content-contato .foto-contato {
  grid-column: span 6;
}
@media (max-width: 770px) {
  .contato .content-contato .foto-contato {
    grid-column: span 3;
  }
}
.contato .content-contato .foto-contato img {
  width: 80%;
  opacity: 0.8;
}
.contato .content-contato .redes-sociais {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", serif;
  font-weight: 400;
}
@media (max-width: 770px) {
  .contato .content-contato .redes-sociais {
    grid-column: span 3;
  }
}
@media (max-width: 425px) {
  .contato .content-contato .redes-sociais {
    grid-column: span 2;
  }
}
.contato .content-contato .redes-sociais a {
  display: flex;
  font-size: 30px;
  align-items: center;
  text-decoration: none;
  color: #dad6d6;
  padding: 20px;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
}
@media (max-width: 770px) {
  .contato .content-contato .redes-sociais a {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .contato .content-contato .redes-sociais a {
    font-size: 25px;
  }
}
.contato .content-contato .redes-sociais a:hover {
  background-color: rgba(0, 0, 0, 0.2666666667);
}
.contato .content-contato .redes-sociais a i {
  margin-right: 10px;
}
.contato #success-message {
  display: grid;
  position: relative;
  gap: 20px;
  background-color: rgb(17, 102, 0);
  width: 96%;
  border-radius: 20px;
  padding: 10px;
  left: 10px;
  bottom: 44px;
}
@media (min-width: 319px) {
  .contato #success-message {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 744px) {
  .contato #success-message {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1024px) {
  .contato #success-message {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (max-width: 1024px) {
  .contato #success-message {
    left: 10px;
    width: 92%;
  }
}
@media (max-width: 770px) {
  .contato #success-message {
    left: 0px;
    width: 92%;
    flex-direction: row;
  }
}

span {
  grid-column: 3/-3;
}
@media (max-width: 1024px) {
  span {
    grid-column: 1/-1;
  }
}
@media (max-width: 770px) {
  span {
    grid-column: 1/-1;
  }
}

.experiencias {
  padding: 0 40px;
  text-align: center;
  margin-top: 40px;
  min-height: 100vh;
}
.experiencias h2 {
  font-size: 34px;
  text-align: center;
  margin-top: 30px;
  color: #dfd9d9;
}
.experiencias .content-experiencias {
  display: grid;
  position: relative;
  gap: 20px;
}
@media (min-width: 319px) {
  .experiencias .content-experiencias {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 744px) {
  .experiencias .content-experiencias {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1024px) {
  .experiencias .content-experiencias {
    grid-template-columns: repeat(12, 1fr);
  }
}
.experiencias .content-experiencias .card {
  display: grid;
  grid-column: span 4;
  background-color: #fff;
  border: 1px solid #363333;
  border-radius: 8px;
  box-shadow: 0 5px 82px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  color: #363333;
}
@media (max-width: 425px) {
  .experiencias .content-experiencias .card {
    grid-column: span 2;
  }
}
@media (max-width: 770px) {
  .experiencias .content-experiencias .card {
    grid-column: span 3;
  }
}
.experiencias .content-experiencias .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.experiencias .content-experiencias .card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.experiencias .content-experiencias .card .card-content {
  padding: 10px;
  text-align: left;
}
.experiencias .content-experiencias .card .card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.experiencias .content-experiencias .card .card-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}
@media (max-width: 770px) {
  .experiencias .content-experiencias .card .card-content p {
    font-size: 12px;
  }
}
.experiencias .content-experiencias .card .card-content .card-link {
  display: inline-block;
  text-decoration: none;
  background-color: #0e1310;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
@media (max-width: 770px) {
  .experiencias .content-experiencias .card .card-content .card-link {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .experiencias .content-experiencias .card .card-content .card-link {
    font-size: 16px;
  }
}
.experiencias .content-experiencias .card .card-content .card-link-python {
  display: inline-block;
  text-decoration: none;
  background-color: #085cac;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link-google {
  display: inline-block;
  text-decoration: none;
  background-color: #e40e06;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link-globe {
  display: inline-block;
  text-decoration: none;
  background-color: #696464;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link-java {
  display: inline-block;
  text-decoration: none;
  background-color: #f0e9e9;
  color: rgb(7, 7, 7);
  padding: 7px 15px 8px;
  border-radius: 4px;
  border: 0.8px solid;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link-android {
  display: inline-block;
  text-decoration: none;
  background-color: #0ea709;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link-angular {
  display: inline-block;
  text-decoration: none;
  background-color: #960404;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link-react {
  display: inline-block;
  text-decoration: none;
  background-color: #057579;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.experiencias .content-experiencias .card .card-content .card-link:hover {
  background-color: rgba(21, 22, 22, 0.7450980392);
}

.titulo-certificados {
  margin-bottom: 10%;
  color: #a8a7a7;
}

.certificados {
  text-align: center;
  margin-top: 40px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2666666667);
}
.certificados .content-certificados {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
  width: max-content;
  overflow: hidden;
  animation: scroll-cards 60s linear infinite;
}
.certificados .content-certificados .card-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #201b1b;
  border: 1px solid rgba(211, 190, 3, 0.3137254902);
  margin-right: 5px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  padding: 10px;
}
@media (max-width: 425px) {
  .certificados .content-certificados .card-c {
    display: block;
    justify-self: center;
    grid-column: span 2;
    max-width: 100%;
  }
}
@media (max-width: 770px) {
  .certificados .content-certificados .card-c {
    grid-column: span 3;
  }
}
.certificados .content-certificados .card-c .icon-info i {
  font-size: 60px;
  margin-right: 10px;
}
.certificados .content-certificados .card-c .info h3 {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.certificados .content-certificados .card-c .info h3 p {
  font-size: 0.8rem;
  color: #e0dfdf;
  margin-bottom: 5px;
}
@media (max-width: 425px) {
  .certificados .content-certificados .card-c .info h3 p {
    font-size: 2px;
  }
}
.certificados .content-certificados .card-c-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-decoration: none;
  background-color: #926504;
  color: rgb(255, 255, 176);
  padding: 10px 2px;
  border-radius: 4px;
  font-size: 10px;
}
.certificados .content-certificados .card-c:hover {
  transform: scale(1.007);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.certificados .content-certificados::-webkit-scrollbar {
  display: none;
}
@keyframes scroll-cards {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.certificados .titulo-techs {
  margin-top: 100px;
  font-size: 20px;
  color: #b3b8b3;
}
.certificados .icons {
  display: grid;
  position: relative;
  gap: 20px;
  padding: 0 40px;
  grid-column: 1/-1;
  color: #434643;
  font-size: 50px;
  justify-items: center;
}
@media (min-width: 319px) {
  .certificados .icons {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 744px) {
  .certificados .icons {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1024px) {
  .certificados .icons {
    grid-template-columns: repeat(11, 1fr);
  }
}
@media (max-width: 770px) {
  .certificados .icons {
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .certificados .icons {
    grid-column: span 1;
    font-size: 50px;
  }
}

.html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  background-color: #0a0a0a;
  color: #dfd9d9;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

section {
  padding: 20px;
  margin: 2% auto;
}
section h1, section h2 {
  font-size: 1.5rem;
  color: #333;
}
section h2 {
  font-size: 34px;
  text-align: center;
  margin-top: 30px;
}
section h6 {
  font-size: 15px;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #161616;
  color: white;
  padding: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
@media (max-width: 770px) {
  .cookie-consent {
    justify-content: center;
    font-size: 17px;
  }
}
@media (max-width: 425px) {
  .cookie-consent {
    justify-content: space-around;
    font-size: 17px;
  }
}

.cookie-consent button {
  background: linear-gradient(90deg, #fcf700, #bebb00, #cac700, #c2b500);
  color: rgba(0, 0, 0, 0.829);
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 3px;
}

.cookie-consent button:hover {
  background-color: #45a049;
}

.cookie-consent a {
  color: #148fc0;
  text-decoration: underline;
}

.cookie-consent p {
  margin: 0;
}

.footer {
  background-color: #242323;
  color: white;
  text-align: center;
  padding: 5px;
  bottom: 0;
  font-size: 20px;
}

.content-footer {
  display: grid;
  position: relative;
  gap: 20px;
}
@media (min-width: 319px) {
  .content-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 744px) {
  .content-footer {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1024px) {
  .content-footer {
    grid-template-columns: repeat(12, 1fr);
  }
}
.content-footer .footer-text {
  grid-column: 2/-2;
}
.content-footer .footer-text p {
  font-size: 12px;
}

#loom-companion-mv3,
#shadow-host-companion {
  display: none !important;
}

/*# sourceMappingURL=styles.css.map */
