$primary-color: #333;
$secondary-color: #0a0a0a;
$text-color: #fdf7f7;
$link-color: #007bff;

$font-family: "Poppins", serif;
$base-font-weight: 400;
$normal-font-weight: 500;
$medium-font-weight: 600;
$bold-font-weight: 700;
$font-style: normal;

$base-font-size: 16px;

$breakpoint: 768px;
